.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 24px;
    font-size: 1.4rem;
    background-color: hsl(220, 10%, 94%);
    width: 100%;
}

.welcome {
    h2 {
        font-weight: 600;
        font-size: 1.6rem;
    }
}

.profile {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-size: 2.6rem;
}

.message {
}

.notification {
}

.profile-manage {
    font-size: 1.4rem;
}
