.wrapper {
    width: 100%;
    h2 {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        margin: 20px;
    }
}
.content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    background: #f7f8fa;
    border: 1px solid #eff0f4;
    border-radius: 8px;
    padding: 14px 8px;
    margin: 0 0 10px 0;

    p {
        &:first-child {
            width: 26%;
        }

        &:nth-child(2) {
            width: 24%;
        }

        &:nth-child(3) {
            width: 16%;
        }

        &:nth-child(4) {
            width: 12%;
        }
        &:nth-child(5) {
            width: 22%;
        }
    }
}
.body {
}
.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #eff0f4;
    border-radius: 8px;
    padding: 14px 8px;
    margin: 6px 0;
    > div {
        padding-right: 12px;
        &:first-child {
            display: flex;
            width: 26%;
        }

        &:nth-child(2) {
            width: 24%;
        }

        &:nth-child(3) {
            width: 16%;
        }

        &:nth-child(4) {
            width: 12%;
        }
        &:nth-child(5) {
            display: flex;
            width: 22%;
        }
    }
}
