@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
    // --primary: #f26b6b;
    --primary: #e64848;
    --second: #c21010;
    --third: #fffde3;
    --fourth: #cfe8a9;
    --hover: rgb(207, 33, 33);
    --text-primary: #393939;
    --error-message: #ed4337;
    --error-bg: #ed43371c;
    --success: #4bb543;
}

::selection {
    background-color: var(--primary);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.errorFormik {
    border: 1px solid var(--error-message);
    background-color: var(--error-bg);
}

button:disabled {
    opacity: 0.35;
}
