.wrapper {
    display: flex;
    justify-content: center;
    // align-items: center;
}

.sidebar {
    flex-basis: 20%;
}

.logo {
    min-height: 60px;
}

.navlink {
    div {
        margin: 10px 0;
    }
}

.container {
    flex-basis: 80%;
}
.navbar {
    min-height: 60px;
}
.content {
}
