.pick-hour-container{
    margin: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid red;
    button {
        padding: 5px 10px;
        border: 1px solid gray;
    }
}
.btn-save{
    background-color: aqua;
}